.container {
    width:100%;
    max-width: 1152px;
    height: 700px;
}

header {
    width: 100%;
    height: 50px;
    background: #F5F5F6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #959BA4;
    letter-spacing: 0.06em;
    margin-bottom: 56px;
    justify-content: space-evenly;
}

img {
    width: 89px;
    height: 23px
}

header ul {
    display: flex;
    padding-left: 65px;
    padding-right: 109px;
    column-gap: 45px;
}

header ul li {
    list-style: none;
}

header ul li:hover {
    color: black;
    cursor: pointer;
}

h1 {

    text-align: center;
}

.box1 p,
.box2 p {
    color: #9F9F9F;
}

.currency-boxes {
    display: flex;
    justify-content: space-evenly;
}

.currency-boxes input {
    width: 259px;
    height: 102px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    box-sizing: border-box;
    padding-left:14px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}

.input{
    position:relative;
}
.input p{
    position:absolute;
    bottom:-6px;
    left:16px;
    font-size:12px;
}
.buttons {
    display: flex;
    margin-bottom: 20px;
}

.buttons button {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    width: 65px;
    height: 28px;
    color: #C6C6C6;
    border: 1px solid #E5E5E5;
    cursor:pointer;

}

.buttons button:first-child{
    border-radius: 3px 0px 0px 3px;
}
.buttons button:last-child{
    border-radius: 0px 3px 3px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons button.active{
    background-color: blueviolet;
    color:white;
}

.login {
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

.hov :hover {
    background-color: #833AE0;
    color: white;
}



@media (min-width: 320px) and (max-width: 800px) {

    .container{
        width:100%;
        height:300px;
    }

    header {
        width: 100%;
        height: 30px;
        background: #F5F5F6;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #959BA4;
        letter-spacing: 0.06em;
        margin-bottom: 45px;
    }
    img {
        padding-left: 150px;
        width: 45px;
        height: 25px
    }
    header ul {
        display: none;
    }
    header button{
        display: none;
    }
    .currency-boxes input {
        width: 200px;
        height: 100px;
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        box-sizing: border-box;
        padding-left:10px;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
    }
    .currency-boxes{
        display: block;
        padding-left:80px;
    }
    .box1,
    .box2{
        margin:0 auto;
    }
    .buttons button {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        width: 50px;
        height: 20px;
        color: #C6C6C6;
        border: 1px solid #E5E5E5;
        cursor:pointer;
    
    }
    .input p{
        position:absolute;
        bottom:-6px;
        left:16px;
        font-size:10px;
    }

}